body{
    background-color:lightcyan;
}

#logout{
    float: right;
    margin-right: 15px;
    margin-top: -40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#back{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


h1{
    margin-top: 50px;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#output{
    background-color: beige;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 75%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 70%;
}

#Message_Area{
    height: 93%;
    overflow: auto;
}

#Send_Area{
    height: 7%;
    width: 100%;
    background-color: lavender;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#msg{
    width: 93%;
    margin-top:8px;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
}

h2{
    font-size: 25px;
    font-weight: bold; 
    font-family: 'Courier New', Courier, monospace;
    color: indigo;
    padding-top: 250px;
}

#send{
    border: none;
    background-color: lavender;
    margin-top: 7px;
    float: right;
    margin-right: 15px;
}

#Name{
    color: blue;
    text-align: left;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.user_tick{
    width: 20px;
}

#message_h4{
    text-align:left;
    margin-left: 30px;
    font-size: 18px;
    margin-top:10px;
    color: black;
    margin-bottom: 10px;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: left;
  margin-left: 30px;
  font-size: 18px;
}

.likes:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#log{
    height: 30px;
    margin: none;
}

hr{
    border: 1px solid black;
    background-color: black;
    width: 90%;
    margin-top: 30px;
}